img{
  max-width:20vh
}
ion-select{

  border: 1px solid black;
  border-radius: 25px;
  padding: 10px;
  background: linear-gradient(180deg, #ffcb02, #ffce005c, #00000000);
  color: black;
  text-align: center;
}
ion-content{
  --background: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url('../../assets/logo.png') no-repeat no-repeat center;

}
