<ion-header>
  <ion-toolbar>
    <ion-title>
    	
      	<img style="max-height: 6vh;" src="/assets/logo_menor.png" alt="" />
	</ion-title>
		<ion-buttons slot="start">
    		<ion-back-button></ion-back-button>
    	</ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
	<ion-card style="background-color: white !important">
			<ion-card-header > <h3 text style="margin:auto;">Login</h3></ion-card-header>
			<ion-card-content>
				<br/>

			<ion-item>
			  <ion-label position="floating">E-mail</ion-label>
			  <ion-input type="text" [(ngModel)]="email" placeholder="seuemail@email.com"></ion-input>
			</ion-item>

			<ion-item>
			  <ion-label position="floating">Senha</ion-label>
			  <ion-input [(ngModel)]="password" type="password" ></ion-input>
			</ion-item>
			<br/>
			<ion-button (click)="entrar()" expand="" color="findme" style="color:white !important; max-width: 25vh;" > Entrar </ion-button>
			</ion-card-content>
	</ion-card>
</ion-content>
