


.background-traco{


    background: #fff;
    border-top-left-radius: 30px;
    padding: 25px;
    position: absolute;
    border-top-right-radius: 30px;
    animation-fill-mode: both;
    width: 100%;
}

ion-content{
	  --background: linear-gradient(rgba(255, 206, 0, 0.5),rgba(255, 206, 0, 0.45), rgba(255, 254, 250, 0.98)), url('../../assets/Orixas.jpg');
    color: white;
    border: 0.2px solid white;

}


div{
		animation: mymove 1s;
		position: relative;
        //text-align-last: center;
	}
#motion {animation-timing-function: linear;}
@keyframes mymove {
  from {bottom: 0px;}
  to {bottom: 0px;}
}
ion-card{
	--background: white !important;
	width: 90%;
    height: auto;
    display: block;
    margin: auto;
    margin-top: 3%;
    
}
ion-label{
  font-size: 18px;
}
ion-input{
    //--background: rgba(255, 255, 255, 0.29);
    //border: 1px solid rgba(34, 36, 40, 0.51);
    //border-radius: 15px;
    margin-top: 1%;
}
