<ion-header>
  <ion-toolbar>
    <ion-title>
            <img style="max-height: 4vh;" src="/assets/gsk-logo.png" alt="" />
About us
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-fab  vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button class="findme" color="findme" (click)="perfilPage()">
      <ion-icon style="color:#ffffff !important" name="person"></ion-icon>
    </ion-fab-button>

    
</ion-fab>
<ion-content>
	<ion-card style="background-color: white !important">
		<ion-card-header > <h3 text center>About Us</h3></ion-card-header>
		<ion-card-content>
			<p text-center>
				"Find Me" is a collaborative platform created by Tech, BI and Financial interns in GSK Brazil.
				The objective of this platform is to provide a bigger, mobile friendly and organizated place to share experiences in each platform used inside our company. 
				That way we can help each others to handle the use in new proccess or proccess that we don't have any knowledge.
			</p>
			<br/>
		</ion-card-content>
			
		<ion-card-header><h3>Creativity & Innovation</h3></ion-card-header>
		<ion-card-content>
			<p text-center>
					Other great thing is to share ideas. We have a place that we can share and collect ideas to increase our performance, can be a new platform to help people to work better or even a simple thing that you want to share that can really be important at the moment. 
			</p>
			
		</ion-card-content>
	</ion-card>
</ion-content>
