<ion-header>
  <ion-toolbar>
    <ion-title>
		<img style="max-height: 6vh;" src="/assets/logo_menor.png" alt="" />
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-fab  vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button class="findme" color="findme" (click)="perfilPage()">
      <ion-icon style="color:#ffcb02 !important" name="person"></ion-icon>
    </ion-fab-button>

    
</ion-fab>
<ion-content>
	<ion-card style="background-color: white !important">
		<ion-card-header > <h3 text center>Sobre nós</h3></ion-card-header>
		<ion-card-content>
			<p text-center>
				Uma super empresa de macumba
			</p>
			<br/>
		</ion-card-content>
			
		<ion-card-header><h3>Ideologia</h3></ion-card-header>
		<ion-card-content>
			<p text-center>
			Eu quero uma pra viver!
			</p>
			
		</ion-card-content>
	</ion-card>
</ion-content>
