ion-content{
  --background: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url('../../assets/logo.png') no-repeat no-repeat center;

}
ion-card{
	--background: white !important;
	width: 80%;
    height: auto;
    display: block;
    margin: auto;
    margin-top: 3%;
            margin-bottom: 3%;

    padding: 0 0 0 3px;
}
