<ion-header>
  <ion-toolbar>
    <ion-title>
        <img style="max-height: 5vh;" src="/assets/logo_menor.png" alt="" />

    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-fab  vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button class="findme" color="findme" (click)="perfilPage()">
      <ion-icon style="color:#ffffff !important" name="person"></ion-icon>
    </ion-fab-button>

  </ion-fab>  
<ion-content>
    
      <img class="welcome-card" src="/assets/Find Me.png"/>
      <ion-searchbar animated placeholder="What do you need?" style="width: 85%; margin: auto;"[(ngModel)]="proce" (ionInput)="filterList($event)" (click)="presentModal()"></ion-searchbar>
      <ion-button expand="block" color="findme" (click)="presentModal()" style=" color:white;   max-width: 25vh;
    margin: auto;" >Find</ion-button>
    
</ion-content>
