<ion-header>
  <ion-toolbar>
    <ion-title>
        <img style="max-height: 6vh;" src="/assets/logo_menor.png" alt="" />

    </ion-title>
    <ion-buttons slot="start">
    </ion-buttons>
  </ion-toolbar>
    <ion-searchbar  animated style="margin-top:3.5% !important; margin: auto;" placeholder="Pesquise sua loja favorita" (ionInput)="filterList($event)"></ion-searchbar>
</ion-header>
<ion-fab  vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button class="findme" color="findme" (click)="perfilPage()">
      <ion-icon style="color:#ffcb02 !important" name="person"></ion-icon>
    </ion-fab-button>
  </ion-fab>
<ion-content>

          <ion-list style="background: transparent" *ngFor="let items of goalListFiltrado">
            <ion-card   style=" background:white; border: 1px solid #ffcb02;">
                <img style="margin:auto;" src="/assets/slide3.png" alt="" />

                <ion-item>
                    <ion-icon name="pin" slot="start"></ion-icon>
                    <ion-label>{{items.bairro}},{{items.cidade}}</ion-label>
                    <ion-button fill="solid" color="warning" slot="end" [routerLink]="['/item/' + items.id]">Veja</ion-button>
                </ion-item>

              <ion-card-header>
                <h4 style="text-align: center;">{{items.nome}}</h4>
              </ion-card-header>

                <ion-card-content>
                    {{items.resumo}}
                    <p slot="end">Likes  • {{items.LikeValue}}</p><br/>
                </ion-card-content>  
                <ion-label *ngIf="items.tipo === 'admin'">
                  <ion-button fill="clear" (click)="verifica()" color="findme" [routerLink]="['edit-page/' + items.id]" > Editar
                  </ion-button>
                </ion-label>
          </ion-card>
          </ion-list>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button color="findme">
            <ion-icon style="color:#ffcb02 !important" name="cart"></ion-icon>
        </ion-fab-button>
    </ion-fab>


    <br/>
	
</ion-content>
