    <ion-header>
  <ion-toolbar>
    <ion-title>
        <img style="max-height: 6vh;" src="/assets/logo_menor.png" alt="" />

    </ion-title>
    <ion-buttons slot="start">
    </ion-buttons>
  </ion-toolbar>
    <ion-searchbar  animated style="margin-top:3.5% !important; margin: auto;" placeholder="Pesquise sua loja favorita" (ionInput)="filterList($event)"></ion-searchbar>
</ion-header>
<ion-fab  vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button class="findme" color="findme" (click)="perfilPage()">
      <ion-icon style="color:#ffcb02 !important" name="person"></ion-icon>
    </ion-fab-button>
  </ion-fab>
<ion-content>



<div style="text-align: center;" *ngIf="goalListFiltrado.length === 0">
   <img style="max-width: 55vh" src="/assets/logo.png" alt="" />

  <h3>Hm...</h3>
  <p>Parece que não encontramos a loja desejada. Já pesquisou por outra?</p>
 

</div>


<div style="text-align: center;" *ngIf="semLoja === 0 ">
   <img style="max-width: 55vh" src="/assets/logo.png" alt="" />

  <p>Parece que não temos loja em sua região...</p>
  <p>Não se preocupe! Compartilhe o app com pessoas e comerciantes da sua área e faça a festa!</p>

</div>

<div class="background-traco"  *ngIf="semLoja > 0">
          <ion-list style="background: transparent" *ngFor="let items of goalListFiltrado">
            <ion-card [routerLink]="['/item/' + items.id]"  style=" background:white;box-shadow:5px 5px rgba(128, 128, 128, 0.5215686274509804);border: 1px solid #ffcb02;">
                <img style="margin:auto;" src="/assets/slide3.png" alt="" />

                <ion-item>
                    <ion-icon style="color: black;"name="pin" slot="start"></ion-icon>
                    <ion-label>{{items.bairro}}</ion-label>
                    <ion-button fill="solid" color="warning" slot="end" [routerLink]="['/item/' + items.id]" >Veja</ion-button>
                </ion-item>
              <ion-card-header>
                <h4 style="text-align: center; border: 2px solid #ffce00;
    border-radius: 25px;
    box-shadow: 2px 2px rgba(66, 66, 66, 0.52156862745)">{{items.nome}}</h4>
              </ion-card-header>

                <ion-card-content style="text-align: center;">
                    {{items.resumo}}<br/>
                       <ion-icon style="color: red;"name="heart"></ion-icon>
                    <ion-label>{{items.LikeValue}}</ion-label>
                </ion-card-content>  
                <ion-label *ngIf="items.tipo === 'admin'">
                  <ion-button fill="clear" (click)="verifica()" color="findme" [routerLink]="['edit-page/' + items.id]" > Editar
                  </ion-button>
                </ion-label>
          </ion-card>
          </ion-list>
</div>
</ion-content>
