img{
	max-width:20vh
}
ion-content{

}
ion-list{
	max-width: 100%;
    display: block;
    margin: auto;
}
ion-modal{
	--width: 100% !important;
	--height: 100% !important;
}

.background-traco{
	background: linear-gradient(#ffcb02, #ffcb02), url('../../assets/logo.png') no-repeat no-repeat center;
	border-top-left-radius: 30px;
    padding: 10px;
    border-top-right-radius: 30px;

}

.map {
  height: 100%;
  width: 100%;
} 
@media only screen and (min-height: 600px) and (min-width: 768px){
	.sc-ion-modal-md-h{
		--width: 100% !important;
		--height: 100% !important;
	}
ion-modal{
	--width: 100% !important;
	--height: 100% !important;
}

}
