<ion-header>
  <ion-toolbar>
    <ion-title> 
    	<img style="max-height: 4vh;" src="/assets/gsk-logo.png" alt="" />
		User
	</ion-title>
	<ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
  </ion-toolbar>

   
</ion-header>


<ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button color="findme">
      <ion-icon name="home" (click)="home()"></ion-icon>
    </ion-fab-button>
  </ion-fab>

<ion-content>

<ion-card style="background-color: white !important">
    <ion-card-header > <h3 text center>Hello, {{name}}!</h3></ion-card-header>
    <ion-card-content>
      <h4>Your informations:</h4>
      <p>Email: {{email}}</p>
      <p>Reports to: {{boss}}</p>
      <p>Role: {{role}}</p>
      <p>BU: {{company}}</p>
      <br/>
      <ion-button color="findme" (click)="sair()">Logout</ion-button>

    </ion-card-content>
  </ion-card>

  <ion-card style="background-color: white !important">
    <ion-card-header > <h3 text center>{{name}}, Here's your items!</h3>  <ion-button color="findme" (click)="addProc()">Add now</ion-button></ion-card-header>
   
    <ion-card-content>
      <ion-list *ngFor="let items of goalList">
      <ion-item *ngIf="items.email === email" >
            <h2>{{items.name}}</h2><br/>
            <p slot="end">Likes  • {{items.LikeValue}}</p><br/>
      </ion-item>
       
    </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
