<ion-header>
  <ion-toolbar>
    <ion-title>

		<img style="max-height: 6vh;" src="/assets/logo_menor.png" alt="" />

		</ion-title>
		<ion-buttons slot="start">
    		<ion-back-button></ion-back-button>
    	</ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
	<ion-card style="background-color: white !important">
			<ion-card-header > <h3 text-center style="margin:auto;">Registro</h3></ion-card-header>
			<ion-card-content>
					<br/>
				<p>Escolha o tipo de usuario entrar como:</p>
				<ion-select placeholder="Tipo de Usuario" style="border: 1px solid black; border-radius: 25px; padding: 10px;" [(ngModel)]="typeUser">
					<ion-select-option value="Loja">Loja</ion-select-option>
					<ion-select-option value="user">Usúario</ion-select-option>
				</ion-select>
				<br/>
				<p>Qual a sua região?</p>

				<ion-select placeholder="Sua região" style="border: 1px solid black;border-radius: 25px;padding: 10px;" [(ngModel)]="type">
					<ion-select-option value="Centro">Centro</ion-select-option>
					<ion-select-option value="Zona Oeste">Zona Oeste</ion-select-option>
					<ion-select-option value="Zona Norte">Zona Norte</ion-select-option>
					<ion-select-option value="Zona Sul">Zona Sul</ion-select-option>
					<ion-select-option value="Baixada">Baixada</ion-select-option>
				</ion-select>

				<ion-item *ngIf="typeUser === 'Loja'">
					<ion-label position="floating">Nome da sua Loja</ion-label>
					<ion-input [(ngModel)]="nome"></ion-input>
				</ion-item>
				<ion-item *ngIf="typeUser === 'user'" >
				  <ion-label position="floating">Seu nome</ion-label>
				  <ion-input [(ngModel)]="nome"></ion-input>
				</ion-item>

				<ion-item>
				  <ion-label position="floating">Endereço</ion-label>
				  <ion-input [(ngModel)]="endereco" type="text"></ion-input>
				</ion-item>
				<ion-item>
				  <ion-label position="floating">Bairro</ion-label>
				  <ion-input [(ngModel)]="bairro" type="text"></ion-input>
				</ion-item>
				<ion-item>
				  <ion-label position="floating">Cidade</ion-label>
				  <ion-input [(ngModel)]="cidade" type="text"></ion-input>
				</ion-item>
				<ion-item>
				  <ion-label position="floating">Telefone</ion-label>
				  <ion-input [(ngModel)]="telefone" type="text"></ion-input>
				</ion-item>
				<ion-item *ngIf="typeUser === 'Loja'">
					<ion-label position="floating">Descrição</ion-label>
					<ion-input maxLenght="40" [(ngModel)]="resumo" type="text"></ion-input>
				</ion-item>
				<br/>
				<p>Foto de perfil:
					<ion-button shape="outline" (click)="photo()" color="findme" ><ion-icon name="camera"></ion-icon></ion-button>
				</p>
				<br/>
				<!-- <img src="{{img.src}}"> -->
				<ion-label *ngIf="typeUser && type != null">
					<ion-button (click)="registrar()" color="findme" style="color:white !important; max-width: 25vh;" >
						 Confirmar
					</ion-button>
				</ion-label>
			</ion-card-content>
			
	</ion-card>
</ion-content>
