ion-select{
  border: 1px solid black;
  border-radius: 25px;
  padding: 10px;
  background: linear-gradient(180deg, #ffcb02, #ffce005c, #00000000);
  color: black;
  text-align: center;
}
ion-content{

}
.background-traco{
	background: linear-gradient(rgba(255, 206, 0, 0.86), rgba(0, 0, 0, 0.12)), url('../../assets/logo.png') no-repeat no-repeat center;
	border-top-left-radius: 30px;
    padding: 10px;
    border-top-right-radius: 30px;

}