<ion-header>
  <ion-toolbar  class="bg-transparent">
		<ion-buttons slot="start">
    		<ion-back-button></ion-back-button>
    </ion-buttons>
</ion-toolbar>
</ion-header>

<ion-content>
		<div style="text-align: center;">	
				<img style="width:50%"src="/assets/slide3feito.png">

    		<h1>Compre e venda agora!</h1>
    		<p><i>Com o processo de registro no nosso app, você consegue rapidamente ter seus produtos anunciados e aproveitar pra fazer aquela comprinha!</i></p>
	
				
		</div>
<div class="background-traco">
<p>Escolha o tipo de usuario entrar como:</p>
				<ion-select placeholder="Tipo de Usuario" style="border: 1px solid black; border-radius: 25px; padding: 10px;" [(ngModel)]="typeUser" required>
					<ion-select-option value="Loja">Loja</ion-select-option>
					<ion-select-option value="user">Usúario</ion-select-option>
				</ion-select>
				<br/>
				<p>Qual a sua região?</p>

				<ion-select placeholder="Sua região" required style="border: 1px solid black;border-radius: 25px;padding: 10px;" [(ngModel)]="type">
					<ion-select-option value="Centro">Centro</ion-select-option>
					<ion-select-option value="Zona Oeste">Zona Oeste</ion-select-option>
					<ion-select-option value="Zona Norte">Zona Norte</ion-select-option>
					<ion-select-option value="Zona Sul">Zona Sul</ion-select-option>
					<ion-select-option value="Baixada">Baixada</ion-select-option>
				</ion-select>


			<form [formGroup]="cadastro" (ngSubmit)="logForm()">	
					<div>
		 
					  <ion-label position="floating">E-mail</ion-label>
					  <ion-input type="text" formControlName="email" required ></ion-input>
					</div>

					<div>
					  <ion-label position="floating"> 
					  	Senha
					  </ion-label>
					  <ion-input formControlName="password" type="password" required ></ion-input>
					</div>
						<div *ngIf="typeUser === 'Loja'">
							<ion-label position="floating">Nome da sua Loja</ion-label>
							<ion-input formControlName="nome" required></ion-input>
						</div>
						<div *ngIf="typeUser === 'user'" >
						  <ion-label position="floating">Seu nome</ion-label>
						  <ion-input formControlName="nome" required></ion-input>
						</div>
						<div *ngIf="typeUser === 'user'" >
							<ion-label position="floating"> Data de Nascimento</ion-label>

						   <ion-datetime
		    						[dayShortNames]="customDayShortNames"
		    						displayFormat="DD MMM, YYYY"
		    						monthShortNames="Janeiro, Fevereiro, Março, Abril, Maio, Junho, Julho, Agosto, Setembro, Outubro, Novembro, Dezembro" formControlName="DOB" placeholder="Clique aqui" required></ion-datetime>

						</div>

						<div *ngIf="typeUser === 'Loja'">
							<ion-label position="floating">CNPJ</ion-label>
							<ion-input maxLenght="40" [brmasker]="{person: true}" formControlName="CPF" required type="text"></ion-input>
						</div>
						<div *ngIf="typeUser === 'user'" >
						  <ion-label position="floating">CPF</ion-label>
						  <ion-input formControlName="CPF" [brmasker]="{person: true}" required></ion-input>
						</div>
						<div>
						  <ion-label position="floating">Endereço</ion-label>
						  <ion-input formControlName="endereco" type="text" required></ion-input>
						</div>

						<ion-grid>
					      <ion-row>
					          <ion-col>
					             	<div>
						  				<ion-label position="floating">Número</ion-label>
						  				<ion-input formControlName="numeroEND" required></ion-input>
									</div>

					          </ion-col>
					          <ion-col>
									<div>
						 				<ion-label position="floating">CEP</ion-label>
						  				<ion-input formControlName="CEP" required></ion-input>
									</div>
					          </ion-col>
					      </ion-row>
					    </ion-grid>
						

						<div>
						  <ion-label position="floating">Bairro</ion-label>
						  <ion-input formControlName="bairro" required type="text"></ion-input>
						</div>
						


						<ion-grid>
					      <ion-row>
					          <ion-col>
					             	<div>
									  <ion-label position="floating">Cidade</ion-label>
									  <ion-input placeholder="EX: Rio de Janeiro" required formControlName="cidade" type="text"></ion-input>
									</div>

					          </ion-col>
					          <ion-col>
									<div>
									  <ion-label position="floating">Estado</ion-label>
									  <ion-input placeholder="EX: RJ" required formControlName="estado" type="text"></ion-input>
									</div>
					          </ion-col>
					      </ion-row>
					    </ion-grid>



						<div>
						  <ion-label position="floating">Telefone</ion-label>
						  <ion-input formControlName="telefone" required type="text"></ion-input>
						</div>
						<div *ngIf="typeUser === 'Loja'">
							<ion-label position="floating">Descrição</ion-label>
							<ion-input maxLenght="40" formControlName="resumo" required type="text"></ion-input>
						</div>
			</form>
				<br/>
				<p>Foto de perfil:
					<ion-button shape="outline" (click)="photo()" color="findme" ><ion-icon name="camera"></ion-icon></ion-button>
				</p>
				<br/>
				<!-- <img src="{{img.src}}"> -->
				<ion-label *ngIf="typeUser && type != null">
					<ion-button (click)="registrar()" color="findme" style="color:white !important; max-width: 25vh;" >
						 Confirmar
					</ion-button>
				</ion-label>

</div>

</ion-content>
