.img-delivery{
  width: 85%;
  border-radius: 20%;
  padding: 15px 25px;
  background: white;
  border: solid rgba(0, 0, 0, 0.08);
  box-shadow: 5px 5px rgba(128, 128, 128, 0.32);
}

.swiper-pagination-bullet-active{
  background-color: black !important;
}
