
<ion-content>
  <ion-slides style="height:100%" pager="true">
    <ion-slide style="background-color: #edbf00">
      <div class="container">
        <img class="img-delivery" style="background-color: black !important" src="/assets/slide1.png">
      </div>
      <p style="color: gray; position: absolute;bottom:4%;">
        <i>Peça seus artigos religiosos pelo app!</i>
      </p>
    </ion-slide>
    <ion-slide  style="background-color: black">
      <div class="container">
        <img class="img-delivery" style="background-color: #ffc409 !important" src="/assets/slide2.png">
      </div>
      <p style="color: white; position: absolute;bottom:4%;">
        <i>Acompanhe a sua entrega!</i>
      </p>
    </ion-slide>
    <ion-slide  style="background-color: #ffc409" >
      <div class="container">
        <img class="img-delivery" style="background-color: black !important" src="/assets/slide3feito.png">
      </div>
      <div style="position: absolute; bottom: 15%;">
        <ion-button (click)="entrar()"   fill="outline" color="dark">Acessar</ion-button>


      </div>
      <p style="color: gray; position: absolute;bottom:4%;">
        <i>Receba diretamente na porta da sua casa!</i>
      </p>

    </ion-slide>
  </ion-slides>
</ion-content>
